{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>test html</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <!-- Salvattore -->
    <link rel="stylesheet" href="{% static 'css/salvattore.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
{% endblock %}

{% block navi %}
{% for category in categories %}
  {% ifequal category.slug current.slug %}
    <li class="probootstrap-animate active" dlccccata-animate-effect="fadeInLeft"><a href="/{{ category.slug }}/">{{ category.title }}</a></li>
  {% else %}
  <li class="probootstrap-animate" dlccccata-animate-effect="fadeInLeft"><a href="/{{ category.slug }}/">{{ category.title }}</a></li>
  {% endifequal %}
{% endfor %}
{% endblock %}

{% block body %}
<div id="fh5co-main">
  <div class="container">
    <input id="current_request_api" type="text" value="{{ api }}" style="display:none">
    <div class="row">
      <div id="fh5co-board" data-columns>
        {% for item in items %}
        <div class="item">
            <div class="animate-box">
                <a class="image-popup fh5co-board-img" title="{{ item.title }}" href="/item/{{ item.uuid_id }}/" target="_blank"><img src="{{ item.image }}" alt=""></a>
            </div>
            <div class="fh5co-desc">{{ item.title }}</div>
        </div>
        {% endfor %}
      </div>
      </div>
     </div>
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!-- Salvattore -->
  <script src="{% static 'js/salvattore.min.js' %}"></script>
  <!-- Modernizr JS -->
  <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>

  <script type="text/javascript">
    (function ($){
      var $grid = document.querySelector('#fh5co-board');
      var curent_category = '';
      var pos = location.pathname.substring(0, location.pathname.length-1).lastIndexOf("/");
      if (pos >= 0) {
        curent_category = location.pathname.substring(pos+1, location.pathname.length-1);
      }

      var $tiles = $('#fh5co-board'),
          $handler = $('.item'),
          $main = $('#fh5co-board'),
          $window = $(window),
          $document = $(document),
          options = {
            autoResize: true, // This will auto-update the layout s the browser window is resized.
            container: $main, // Optional, used for some extra CSS styling
            offset: 20, // Optional, the distance between grid items
            itemWidth:280 // Optional, the width of a grid item
          };
      /**
       * Reinitializes the wookmark handler after all images have loaded
       */
      function applyLayout() {
        $tiles.imagesLoaded(function() {
          // Destroy the old handler
          // if ($handler.wookmarkInstance) {
          //   $handler.wookmarkInstance.clear();
          // }

          // // Create a new layout handler.
          // $handler = $('.card');
          // $handler.wookmark(options);
        });
      }
      /**
       * When scrolled all the way to the bottom, add more tiles
       */
      function onScroll() {
        // Check if we're within 100 pixels of the bottom edge of the broser window.
        var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
            closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

        if (closeToBottom) {
            console.log("have to bottom add more");
            if ($('#current_request_api').val()) {
                console.log("post data to " + $('#current_request_api').val() + " and current is " + curent_category);
                $.post($('#current_request_api').val(), {'cate': curent_category}, function(result) {
                    if (result['next']) {
                        $('#current_request_api').val(result['next']);
                    }
                    else {
                        $('#current_request_api').val('');
                    }

                    var more = '';
                    $.each(result['results'], function(index, node) {
                        more += '<div class="item"><div class="animate-box"><a class="image-popup fh5co-board-img" title="' + node["title"] + '" href="/item/' + node['uuid_id'] + '/" target="_blank"><img src="' + node["image"] + '" alt=""></a></div><div class="fh5co-desc">' + node["title"] + '</div></div>';
                    });
                    console.log(more);
                    salvattore.appendElements($grid, more);
                });
            }
          // Get the first then items from the grid, clone them, and add them to the bottom of the grid
        //   var $items = $('.item'),
        //   $firstTen = $items.slice(0, 10);
        //   // $tiles.append($firstTen.clone());

        //   salvattore.appendElements($grid, $firstTen.clone());


          // applyLayout();
        }
      };

      // Call the layout function for the first time
      // applyLayout();

      // Capture scroll event.
      $window.bind('scroll.wookmark', onScroll);
    })(jQuery);
  </script>



{% endblock %}


