{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>test html</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <!-- Salvattore -->
    <link rel="stylesheet" href="{% static 'css/salvattore.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/application-9d4f05d631b7d8c541c2afe0e0756ff09af6c178b5007ed9699fc97210d57e90.css' %}">
{% endblock %}

{% block navi %}
{% for category in categories %}
  {% ifequal category.slug current.slug %}
    <li class="probootstrap-animate active" dlccccata-animate-effect="fadeInLeft"><a href="/{{ category.slug }}/">{{ category.title }}</a></li>
  {% else %}
  <li class="probootstrap-animate" dlccccata-animate-effect="fadeInLeft"><a href="/{{ category.slug }}/">{{ category.title }}</a></li>
  {% endifequal %}
{% endfor %}
{% endblock %}

{% block body %}
<div id="fh5co-main">
  <div class="container">
    <input id="current_request_api" type="text" value="{{ api }}" style="display:none">
    <div class="row">
      <div id="fh5co-board" data-columns>
        {% for item in items %}
        <div class="item">
            <div class="animate-box">
                <a class="image-popup fh5co-board-img" href="/detail/{{ item.uuid_id }}/"><img src="{{ item.image }}" alt=""></a>
            </div>
            <div class="fh5co-desc"><a title="{{ item.title }}" href="/detail/{{ item.uuid_id }}/" target="_blank">{{ item.title }}</a></div>
        </div>
        {% endfor %}
      </div>
      </div>
     </div>
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <!-- Salvattore -->
  <script src="{% static 'js/salvattore.min.js' %}"></script>
  <!-- Modernizr JS -->
  <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>


  <script type="text/javascript">
    var  current_image_detail = new Array();

    function fuck() {
        console.log("fuck");
        $(".mfp-img").attr('src',"http://static.beeso.cn/images/pic/38/20238.jpg");
    }

    (function ($){
      var $grid = document.querySelector('#fh5co-board');
      var curent_category = '';
      var pos = location.pathname.substring(0, location.pathname.length-1).lastIndexOf("/");
      if (pos >= 0) {
        curent_category = location.pathname.substring(pos+1, location.pathname.length-1);
      }
      var requesting = false;

      var $tiles = $('#fh5co-board'),
          $handler = $('.item'),
          $main = $('#fh5co-board'),
          $window = $(window),
          $document = $(document),
          options = {
            autoResize: true, // This will auto-update the layout s the browser window is resized.
            container: $main, // Optional, used for some extra CSS styling
            offset: 20, // Optional, the distance between grid items
            itemWidth:280 // Optional, the width of a grid item
          };
      /**
       * Reinitializes the wookmark handler after all images have loaded
       */
      function applyLayout() {
        $tiles.imagesLoaded(function() {
          // Destroy the old handler
          if ($handler.wookmarkInstance) {
            $handler.wookmarkInstance.clear();
          }

          // Create a new layout handler.
          $handler = $('.card');
          $handler.wookmark(options);
        });
      }


      $('.image-popup').magnificPopup({
        type: 'ajax',
        showCloseBtn: false,
        callbacks: {
            parseAjax: function(mfpResponse) {
                console.log(mfpResponse.data);
                // mfpResponse.data = '<img id="imgId" class="mfp-img" src="http://static.beeso.cn/images/pic/54/27554.jpg" ><div class="mfp-bottom-bar"><div class="mfp-title"></div><div class="mfp-counter">1 of 6</div></div><button type="button" class="mfp-arrow mfp-arrow-left mfp-prevent-close" onclick="fuck()"></button><button type="button" class="mfp-arrow mfp-arrow-right mfp-prevent-close"></button>';
            },
            ajaxContentAdded: function() {
                console.log(this.content);
            },
            beforeOpen: function() {
                console.log('Start of popup initialization');
            },
            elementParse: function(item) {
                // Function will fire for each target element
                // "item.el" is a target DOM element (if present)
                // "item.src" is a source that you may modify

                console.log('Parsing content. Item object that is being parsed:', item);
            },
            change: function() {
                console.log('Content changed');
                console.log(this.content); // Direct reference to your popup element
            },
            resize: function() {
                console.log('Popup resized');
                // resize event triggers only when height is changed or layout forced
            },
            open: function() {
                console.log('Popup is opened');
            },

            beforeClose: function() {
                // Callback available since v0.9.0
                console.log('Popup close has been initiated');
            },
            close: function() {
                console.log('Popup removal initiated (after removalDelay timer finished)');
            },
            afterClose: function() {
                console.log('Popup is completely closed');
            },

            markupParse: function(template, values, item) {
                // Triggers each time when content of popup changes
                // console.log('Parsing:', template, values, item);
            },
            updateStatus: function(data) {
                console.log('Status changed', data);
                // "data" is an object that has two properties:
                // "data.status" - current status type, can be "loading", "error", "ready"
                // "data.text" - text that will be displayed (e.g. "Loading...")
                // you may modify this properties to change current status or its text dynamically
            },
            imageLoadComplete: function() {
                // fires when image in current popup finished loading
                // avaiable since v0.9.0
                console.log('Image loaded');
            },
        },
    });

      /**
       * When scrolled all the way to the bottom, add more tiles
       */
      function onScroll() {
        // Check if we're within 100 pixels of the bottom edge of the broser window.
        var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
            closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

        if (closeToBottom) {
            if ($('#current_request_api').val() && !requesting) {
                requesting = true;
                $.post($('#current_request_api').val(), {'cate': curent_category}, function(result) {
                    if (result['next']) {
                        $('#current_request_api').val(result['next']);
                    }
                    else {
                        $('#current_request_api').val('');
                    }

                    var more_array = new Array();
                    $.each(result['results'], function(index, node) {
                        var more = '<div class="animate-box"><a class="image-popup fh5co-board-img" title="' + node["title"] + '" href="/item/' + node['uuid_id'] + '/" target="_blank"><img src="' + node["image"] + '" alt=""></a></div><div class="fh5co-desc">' + node["title"] + '</div>';
                        var more_item = document.createElement("div");
                        more_item.className = "item";
                        more_item.innerHTML= more;

                        more_array.push(more_item);
                    });

                    salvattore.appendElements($grid, more_array);
                    requesting = false;

                    // 从新计算显示的数据，以便可以执行动画效果
                    if ($('.animate-box').length > 0) {
			            $('.animate-box').waypoint( function( direction ) {
                            if( direction === 'down' && !$(this).hasClass('animated') ) {
                                $(this.element).addClass('bounceIn animated');
                            }
			            } , { offset: '75%' } );
                    }

                });
            }
          // Get the first then items from the grid, clone them, and add them to the bottom of the grid
        //   var $items = $('.item'),
        //   $firstTen = $items.slice(0, 10);
        //   // $tiles.append($firstTen.clone());

        //   salvattore.appendElements($grid, $firstTen.clone());


          applyLayout();
        }
      };

      // Call the layout function for the first time
      applyLayout();

      // Capture scroll event.
      $window.bind('scroll.wookmark', onScroll);
    })(jQuery);
  </script>



{% endblock %}


