{% load static %}


<div class="rd__modal rd__modal--open" id="photo-modal">
    <div class="rd__modal__overlay">
      <button id='close-btn' class="js-modal-close-button rd__modal__exit rd__button rd__button--text-white rd__button--circle-icon">
        <i class="rd__svg-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
          </svg>
        </i>
      </button>
      <div class="rd__modal__content" role="dialog" tabindex="0">
        <button id="prev-btn" class="js-modal-backwards-request-button rd__modal__content__back-button rd__button rd__button--circle-icon--large rd__button--text-white" style="">
          <i class="rd__svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"></path>
            </svg>
          </i>
        </button>
        <button id="next-btn" class="js-modal-forward-request-button rd__modal__content__forward-button rd__button rd__button--circle-icon--large rd__button--text-white" style="">
          <i class="js-not-loading rd__svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
            </svg>
          </i>
        </button>


        <div class="photo-page">
          <section class="photo-page__section photo-page__section--action-bar" id="photo-page-top">
            <div class="level level--responsive">
              <div class="level__left photo-page__hidden-on-mobile">
                <div class="level__item">
                  <div class="level level--responsive-large">
                    <div class="level__item">
                        <div class="js-photo-page-mini-profile-avatar photo-page__mini-profile__avatar rd__avatar rd__avatar--large">
                            <img alt="undefined" src={{ item.avatar }} width="50" height="50">
                        </div>
                        <div class="photo-page__mini-profile__text">
                            <h3 class="js-photo-page-mini-profile-full-name photo-page__mini-profile__text__title">{{ item.actor }}</h3>
                            <div class="js-photo-page-mini-profile-followers photo-page__mini-profile__text__subtitle">
                            <span class="js-follower-count-display">{{ item.view }}</span>位关注者</div>
                        </div>
                    </div>
                    <div class="level__item">
                      <div class="rd__button-group">
                        <button id='follow-actor'
                            class="js-follow js-photo-page-mini-profile-follow-button rd__button rd__button--compact rd__button--white js-follow-912559"
                            data-follow-track-label="photo"
                            data-tooltip="关注该影集"
                            data-track-action="medium-mini-profile"
                            data-track-label="follow-button"
                            data-item-id="{{ item.uuid_id }}" data-initialized="true">关注</button>
                        <a id='tip' class="js-photo-page-mini-proile-donation-button rd__button rd__button--white rd__button--compact"
                            data-track-action="medium-mini-profile" data-track-la
                            bel="donate-button"
                            href="#" rel="nofollow" style="display: inline-flex;" onclick="on_tips()">打赏</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="level__right photo-page__action-buttons-level-item">
                <div class="level__item photo-page__action-buttons-level-item">
                  <div class="rd__button-group photo-page__action-buttons">
                    <button id='like-button' class="js-like js-photo-page-action-buttons-like rd__button rd__button--white rd__button--with-icon-left js-like-4403924" data-photo-id="4403924" data-initialized="true">
                      <i class="rd__button--like--not-active--icon rd__svg-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path>
                        </svg>
                      </i>
                      <i class="rd__button--like--active--icon rd__svg-icon" style="display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"></path>
                        </svg>
                      </i>
                      <span class="js-text">
                        <span class="js-count">{{ item.like }}</span>{% if item.like %}人{% endif %}点赞</span></button>
                    <button id='favorite-button' class="js-collect js-photo-page-action-buttons-collect rd__button rd__button--white rd__button--with-icon-left js-collect-4403924" rel="sidebar" data-photo-id="4403924" data-initialized="true">
                      <i class="rd__button--collect--not-active--icon rd__svg-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
                        </svg>
                      </i>
                      <i class="rd__button--collect--active--icon rd__svg-icon" style="display: none">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                          <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"></path>
                        </svg>
                      </i>
                      <span>加入收藏夹</span></button>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <section class="photo-page__section photo-page__section--photo">
            <div class="photo-page__photo">
                <div class="js-photo-zoom-container photo-page__photo__image">
                  <img id='img-container' class="js-photo-page-image-img" style="background: rgb(120, 117, 117) none repeat scroll 0% 0%; max-height: 75vh; max-width: calc(0vh); min-height: 300px; min-width: calc(500px);" alt="{{ item.title }}" src="" data-set="/api/item/detail/{{ item.uuid_id }}/">
                </div>
            </div>
          </section>

          <section class="photo-page__section photo-page__section--photo-details">
            <div class="photo-page__photo-details-overview js-photo-page-photo-details">
              <div class="photo-page__visible-on-mobile">
                <div class="rd__card js-photo-page-photographer-card">
                  <div class="rd__card__title js-photo-page-photographer-card-title" data-titles-photo="摄影作者" data-titles-video="视频摄影作者">摄影作者</div>
                  <div class="rd__card__section">
                    <a class="js-photo-page-photographer-card-link photo-page__mini-profile" data-track-action="medium-info-photographer" data-track-label="mini-profile-link" href="/zh-cn/@elina-sazonova">
                      <div class="photo-page__mini-profile__avatar rd__avatar rd__avatar--large">
                        <img alt="Elina Sazonova" class="js-photo-page-photographer-card-img" src="https://images.pexels.com/users/avatars/912559/elina-sazonova-972.jpeg?w=256&amp;h=256&amp;fit=crop&amp;crop=faces&amp;auto=compress" width="50" height="50"></div>
                      <div class="photo-page__mini-profile__text">
                        <h3 class="js-photo-page-photographer-card-full-name photo-page__mini-profile__text__title">Elina Sazonova</h3>
                        <h4 class="photo-page__mini-profile__text__subtitle">
                          <span class="js-follower-count-display"></span>
                          <span class="js-photo-page-photographer-card-location" style="display: none;">· Novi Sad, Serbia</span></h4>
                      </div>
                    </a>
                  </div>
                  <div class="rd__card__section">
                    <div class="rd__button-group">
                      <button class="js-follow rd__button rd__button--compact rd__button--white js-follow-912559" data-follow-track-label="photo" data-tooltip="关注" data-initialized="true" data-user-id="912559">关注</button>
                      <a class="js-photo-page-photographer-card-donate rd__button rd__button--white rd__button--compact" data-track-action="medium-info-photographer" data-track-label="donate-button" href="/zh-cn/medium/4403924/donate/" rel="nofollow" style="" target="_blank">捐赠</a></div>
                  </div>
                </div>
              </div>
              <p class="js-photo-details-description photo-page__photo-details-overview__description"></p>
              <div class="level level--centered level--responsive">
                <div class="js-photo-details-views level__item photo-page__photo-details-overview__description-item" style="display: none;">
                  <i class="rd__svg-icon rd__svg-icon--text-secondary rd__spacer--margin-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
                    </svg>
                  </i>
                  <p class="js-photo-details-tag-text"></p>
                </div>
                <p id="img-index" class="js-photo-details-tag-text"></p>
                <p class="js-photo-details-tag-text">免费使用</p>
              </div>
            </div>
          </section>




          <div class="js-modal-below-the-fold-content">
            <section class="photo-page__section photo-page__section--info">
              <div class="rd__button-group rd__button-group--centered">
                <button class="js-photo-share-button rd__button rd__button--compact rd__button--white rd__button--with-icon-left" data-track-action="share-button" data-track-label="photo-page-info">
                  <i class="rd__svg-icon rd__svg-icon--vertical-flip">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"></path>
                    </svg>
                  </i>
                  <span>分享</span></button>
                <button class="js-photo-info-toggle-button rd__button rd__button--compact rd__button--white rd__button--with-icon-left" data-track-action="info-button" data-track-label="photo-page-info">
                  <i class="rd__svg-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"></path>
                    </svg>
                  </i>
                  <span>信息</span></button>
              </div>
              <div class="js-photo-info-section photo-page__info-container" style="display: none;">
                <div class="photo-page__info">
                  <div class="js-photo-page-info-column photo-page__info__column">
                    <div class="rd__card js-photo-page-photographer-card">
                      <div class="rd__card__title js-photo-page-photographer-card-title" data-titles-photo="图集信息" data-titles-video="图集信息">图集信息</div>
                      <div class="rd__card__section">
                          <div class="photo-page__mini-profile__avatar rd__avatar rd__avatar--large">
                            <img alt="Elina Sazonova" class="js-photo-page-photographer-card-img" src="{{ item.avatar }}" width="50" height="50"></div>
                          <div class="photo-page__mini-profile__text">
                            <h3 class="js-photo-page-photographer-card-full-name photo-page__mini-profile__text__title">{{ item.actor }}</h3>
                            <h4 class="photo-page__mini-profile__text__subtitle">
                              <span class="js-follower-count-display">
                                <span class="js-follower-count-display">{{ item.view }}</span>位关注者</span>
                              <span class="js-photo-page-photographer-card-location" style=""></span>
                            </h4>
                          </div>
                      </div>
                      <div class="rd__card__section">
                        <div class="rd__button-group">
                          <button class="js-follow js-follow-912559 rd__button rd__button--compact rd__button--white" data-follow-track-label="photo" data-tooltip="关注" data-user-id="912559" data-initialized="true">关注</button>
                          <a class="js-photo-page-photographer-card-donate rd__button rd__button--white rd__button--compact" data-track-action="medium-info-photographer" data-track-label="donate-button" href="/zh-cn/medium/4403924/donate/" rel="nofollow" style="" target="_blank">捐赠</a></div>
                      </div>
                      <div class="js-photo-page-photographer-card-more-photos">
                        <a class="rd__card__title" href="/zh-cn/@elina-sazonova">{{ item.actor }} 的更多照片</a>
                        <div class="rd__card__section">
                          <div class="photo-page__info__photographer__more-photos">
                              {% for img in item.images.all %}
                            <a class="photo-page__info__photographer__more-photos__photo" data-track-action="medium-info-photographer" data-track-label="related-photo">
                              <img src="{{ img.thumbnail }}">
                            </a>
                              {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="js-photo-page-info-column photo-page__info__column">
                    <div class="rd__card">
                      <div class="rd__card__title">照片信息</div>
                      <div class="rd__card__section">
                        <div class="rd__card__section__content">
                          <small class="secondary">上传日期：{{ item.pubdate }}</small></div>
                        <table class="photo-page__info__additional-information__table">
                          <tbody>
                              <td>大小</td>
                              <td>5.25 MB</td></tr>
                            <tr>
                                <td>分类</td>
                                <td>{{ item.category.title }}</td></tr>
                            <tr>
                              <td>分辨率</td>
                              <td>5616px x 3744px</td></tr>
                            <tr>
                                <td>宽高比</td>
                                <td>3:2</td></tr>
                            <tr>
                                <td>来源</td>
                                <td>{{ item.source }}</td></tr>
                            <tr>
                              <td>
                                <span class="translation_missing" title="translation missing: zh-CN.photos.photo_page.info_cards.photo_information.taken_at">拍摄于</span></td>
                              <td>{{ item.pubdate }}</td></tr>
                            <tr>
                                <td>描述</td>
                                <td>{{ item.brief }}</td></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <button class="js-photo-info-toggle-button rd__button rd__button--full-width rd__button--grey">隐藏信息</button></div>
            </section>


            <section class="photo-page__section photo-page__section--related-tags" id="photo-page-related-tags">
              <div class="photo-page__section__title">
                <div class="level">
                  <div class="level__left">
                    <div class="level__item">
                      <h2 class="photo-page__section__title__large-text">相关标签</h2></div>
                  </div>
                </div>
              </div>
              <div class="photo-page__related-tags">
                <ul class="photo-page__related-tags__container">
                    {% for tag in item.tags.all %}
                  <li>
                    <a class="rd__tag" data-track-action="medium-related-tags" data-track-label="tag" href="">{{ tag.name }}</a>
                </li>
                      {% endfor %}
                </ul>
                <div class="photo-page__related-tags__overlay"></div>
              </div>
            </section>


            <div class="js-modal-below-the-fold-user-actions"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
        var images;
        var index = 0;
        var magnificPopup = $.magnificPopup.instance;
        $('#close-btn').click(function() {
            magnificPopup.close();
        });
        $('#like-button').click(function() {
            var uuid = localStorage.getItem("uuid");
            if (!uuid) {
                localStorage.setItem("uuid", guid());
            }
            $.post(window.location.protocol + "//" + window.location.host + "/api/item/like/", {'uuid':uuid, 'item':get_item(),'csrfmiddlewaretoken':'{{ csrf_token }}'}, function( data ) {
            });
        });
        $('#follow-actor').click(function() {
            var uuid = localStorage.getItem("uuid");
            if (!uuid) {
                localStorage.setItem("uuid", guid());
            }
            $.post(window.location.protocol + "//" + window.location.host + "/api/item/view/", {'uuid':uuid, 'item':get_item(),'csrfmiddlewaretoken':'{{ csrf_token }}'}, function( data ) {
            });
        });
        $('#favorite-button').click(function() {
            if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                window.sidebar.addPanel(document.title,window.location.href,'');
            } else if(window.external && ('AddFavorite' in window.external)) { // IE Favorite
                window.external.AddFavorite(location.href,document.title);
            } else if(window.opera && window.print) { // Opera Hotlist
                this.title=document.title;
                return true;
            } else { // webkit - safari/chrome
                alert('点击 ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D 将其加入收藏夹.');
            }
        });
        $('#prev-btn').click(function() {
            if (index > 0) {
                $('#prev-btn').show();
                index -= 1;
            } else {
                index = images.length - 1;
            }
            var img = images[index];
            $('#img-container').attr('src', img);
            $('#img-index').text("" + (index+1) + "/" + images.length);
        });
        $('#next-btn').click(function() {
            if (index < images.length-1) {
                index += 1;
            } else {
                index = 0;
            }
            var img = images[index];
            $('#img-container').attr('src', img);
            $('#img-index').text("" + (index+1) + "/" + images.length);
        });
        magnificPopup.updateStatus('loading', 'The loading text...');

        var imgs = $('#img-container').attr('data-set');
        if (imgs) {
            $.get(window.location.protocol + "//" + window.location.host + imgs, function( data ) {
                if (data) {
                    index = 0;
                    images = data;

                    var img = data[index];
                    $('#img-container').attr('src', img);
                    $('#img-index').text("" + (index+1) + "/" + images.length);
                }
            });
        }

        function guid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
                return v.toString(16);
            });
        }

        function on_tips() {
            $('#img-container').attr('src', window.location.protocol + "//" + window.location.host + "/static/images/tips.jpg");
        }

        function get_item() {
            return $('#follow-actor').attr('data-item-id');
        }
  </script>
