<!DOCTYPE html>
<html>
    {% load staticfiles %}
 <!--STATUS OK-->
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <!--[if lt IE 6]>
<meta http-equiv='refresh' content="0;url=/search/detail?ct=503316480&z=0&tn=baiduimagedetailnojs&ipn=dnj&&word=%E7%AB%A5%E6%A2%A6&cl=&lm=&pn=1&di=10&ln=0&amp;ie=utf-8">
<style>
        body, table, .p {
            display: none
        }
    </style>
<![endif]-->
</script>
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="#" type="image/x-icon" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/image_detail_base.css'  %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/image_co.css'  %}" />

  <link href="{% static 'css/sequence-theme.mono.css' %}" rel="stylesheet" media="all">

 </head>
 <body class="">

  <div id="wrapper" style="width: 100%;height: 100%;">
   <div id="header" style="width: 100%;height: 5%;">
    <div class="bg" id="headerbg">
     <div class="bgline">
      <div class="bglineleft"></div>
      <div class="bglinecenter"></div>
      <div class="bglineright"></div>
     </div>
    </div>
    <div class="ct clearfix" id="headersearch">


      <!-- 搜索框 -->
     <form id="searchForm" action="#" name="f1" onsubmit="return f_submit(this,true)">
      <!-- <input type="hidden" name="tn" value="baiduimage" />
      <input type="hidden" name="ipn" value="r" />
      <input name="ct" type="hidden" value="201326592" />
      <input name="cl" type="hidden" value="2" />
      <input name="fm" type="hidden" value="detail" />
      <input name="lm" type="hidden" value="-1" />
      <input name="hd" type="hidden" value="0" />
      <input name="latest" type="hidden" value="0" />
      <input name="copyright" type="hidden" value="0" />
      <input name="st" type="hidden" value="-1" />
      <input name="sf" type="hidden" value="2" />
      <input name="fmq" type="hidden" value="" />
      <input name="fm" type="hidden" value="detail" />
      <input name="pv" type="hidden" value="" />
      <input name="ic" type="hidden" value="0" />
      <input name="nc" type="hidden" value="1" />
      <input name="z" type="hidden" value="" />
      <input name="se" type="hidden" value="" />
      <input name="showtab" type="hidden" value="0" />
      <input name="fb" type="hidden" value="0" />
      <input name="width" type="hidden" value="" />
      <input name="height" type="hidden" value="" />
      <input name="face" type="hidden" value="0" />
      <input name="istype" type="hidden" value="2" />
      <input name="ie" type="hidden" value="utf-8" /> -->
      <a class="logo" href="/"> <img alt="" src="{% static 'images/logo.png'  %}" /> </a>
      <!-- <div id="sugOut">
       <span id="sugIn"> <input type="text" autocomplete="off" id="kw" class="i" name="word" value="童梦" onfocus="this.parentNode.className='active'" onblur="this.parentNode.className=''" /> </span>
       <div id="sug"></div>
       <div id="sugOff"></div>
       <input type="submit" log-click="p=5.41&amp;" class="sb" value="百度一下" />
       <div style="display: none; left: 0px; top: 33px; width: 538px;" id="image-sug-no-0" class="sug-wrap">
        <ul class="sug-inner"></ul>
       </div>
      </div> -->
     </form>

      <!-- 个人信息 -->
     <!-- <div id="userInfo">
      <a data-sargs="etc=bdindex" class="last_left" href="https://www.baidu.com/">百度首页</a>
      <a data-sargs="etc=userinfo" target="_blank" id="username_info" href="https://passport.baidu.com/v2/?ucenteradduname"><span style="">153******97</span></a>
      <div id="username_menu" class="username_menu" style="right: 74px; display: none; opacity: 1;">
       <a data-sargs="etc=home" target="_blank" href="https://passport.baidu.com/v2/?ucenteradduname">个人中心</a>
       <a data-sargs="etc=passport" target="_blank" href="http://passport.baidu.com/center">帐号设置</a>
       <a data-sargs="etc=logout" id="passLogout" class="user_exit" href="http://passport.baidu.com/?logout&amp;u=http%3A%2F%2Fimage.baidu.com%2Fsearch%2Fdetail%3Ftn%3Dbaiduimagedetail%26word%3D%25E7%25AB%25A5%25E6%25A2%25A6%26pn%3D1%26cs%3D4073846589%2C3085928938%26pi%3D44082982964%26catename%3Dpcindexhot" style="overflow:hidden">退出</a>
       <div class="username_arrow_in"></div>
       <div class="username_arrow_out"></div>
      </div>
      <a data-sargs="etc=xc" id="userinfo_img" href="http://image.baidu.com/albumlist/4261412864%203536648159" target="_blank">我的图片</a>
     </div> -->


    </div>
   </div>

   <div id="main" style="width: 80%; height:95%;">
    <div id="container" style="height: 100%;">
      <div id="sequence" class="seq">
        <div style="width: 100%; height:100%;">
        <ul class="seq-canvas">
        {% for image in images %}
          <li class="seq-step1 seq-valign">
            <div class="seq-vcenter" style="width: 100%;height:  100%;">
              <img data-seq class="seq-feature" src="{{ image.image }}" alt="{{ item.title }}" width="325" height="300" srcset="{{ image.medium }} 1x, {{ image.higt }} 2x" />
            </div>
          </li>
        {% endfor %}
        </ul>
        </div>

        <fieldset class="seq-nav" aria-label="Slider buttons" aria-controls="sequence">

          <button type="button" class="seq-prev" aria-label="Previous">
            <img src="{% static 'images/prev.svg' %}" alt="Previous" />
          </button>

          <ul role="navigation" aria-label="Pagination" class="seq-pagination">
            {% for image in images %}
            <li class="seq-current">
              <a href="#step{{ forloop.counter  }}" rel="step{{ forloop.counter }}" title="{{ item.title }}">
                <img src="{{ image.thumbnail }}" alt="{{ item.title }}" width="50" height="50" />
              </a>
            </li>
            {% endfor %}
          </ul>

          <button type="button" class="seq-next" aria-label="Next">
            <img src="{% static 'images/next.svg' %}" alt="Next" />
          </button>
        </fieldset>
      </div>
   </div>

   <!-- 布局右边 -->
   <div id="sider" style="height: 100%; width: 20%;">
    <div style="width:100%;">
     <div id="xianguiprovidercard" class="card-box pic-info" style="display:none;"></div>
     <div id="picInfoPnl">
      <div class="pic-info-box card-box" style="display:none;">
       <div class="card-title">
        <i class="pic-info-sticker"></i>
        <span>图片信息</span>
       </div>
       <div class="pic-info-content">
        <div class="pic-title">
         <a target="_blank" href="#"></a>
        </div>
        <div class="pic-copyright-detail"></div>
        <div class="pic-source">
         <a class="pic-from-host" target="_blank" href="#" hidefocus="true"></a>
         <span class="divider"></span>
         <a class="pic-size" target="_blank" href="#" log-click="p=9.urlsearch" hidefocus="true"></a>
        </div>
        <div class="pic-copyright">
         <span class="copyright-from"></span>
         <span class="copyright-tip"><img src="{% static 'viewer/icon_copyright_tip_4a93e68.png'  %}" /><span class="cr-tip up-arrow"></span></span>
         <div class="cr-tip cr-tip-words"></div>
        </div>
        <div class="pic-copyright-buy"></div>
       </div>
      </div>
     </div>

     <div id="siderCardsAfterWikiInfo">

      {% if item.actor %}
      <div class="card-box photographer-info" style="display: block; height: auto;">
        <div class="cnt-wrapper" style="position: static; height: auto;">
         <div class="card-content">
          <div>
           <i class="sticker"></i>
           <div class="photographer-detail">
            <img src="{{ item.avatar }}" class="portrait" />
            <div class="name">
             {{ item.actor }}
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="card-box photograph-detail" style="display: block; height: auto;">
        <div class="cnt-wrapper" style="position: static; height: auto;">
         <div class="card-content">
          <div>
           <div class="summary">
            {{ item.title }}
           </div>
           <div class="showpv">
            {{ item.view }} 浏览
           </div>
           <div class="size">
            {{ item.count }} 张图片
           </div>
           <div class="tags">
            {% for tag in item.tags.all %}
                <span class="tag">{{ tag.name }}</span>
            {% endfor %}
           </div>
           <div class="copyright">
            &copy;版权归作者所有，请勿商用
           </div>
          </div>
         </div>
        </div>
       </div>
      {% endif %}

      {% if item.brief %}
      <div class="card-box pic-info pic-info-box right-pic-info-box" style="height: auto;">
       <div class="card-title">
        <i class="pic-info-sticker"></i>
        <span class="text">图片信息</span>
       </div>
       <div class="cnt-wrapper">
        <div class="card-content">
            {{ item.brief }}
            <a class="name">{{ item.source }}</a>
        </div>
       </div>
      </div>
      {% endif %}

      <!-- 图片信息 -->
       <!-- 以下两个div可能是显示广告的 -->
       <div class="card-box beauty-card" style="display: none; height: auto;">
        <h5 class="card-title"><i class="sticker"></i><span class="text">更多美女</span><i class="close"></i></h5>
        <div class="cnt-wrapper">
         <div class="card-content">
          <ul class="clearfix piclist piclist3"></ul>
         </div>
        </div>
       </div>

      <div class="card-box photograph-related" style="display: none; height: auto;">
       <h5 class="card-title"><i class="sticker"></i><span class="text">相关作品</span><a class="card-box-more" href="" target="_blank"><span class="card-box-more-text">更多</span><i class="card-box-more-img"></i></a><i class="close"></i></h5>
       <div class="cnt-wrapper">
        <div class="card-content"></div>
       </div>
      </div>

      {% if item.recommend.all %}
      <div class="card-box photographer-recommend" style="display: block; height: auto;">
       <div class="cnt-wrapper" style="position: static; height: auto;">
        <div class="card-content">
         <div class="recommendTitle">
          更多推荐
         </div>
         {% for recomm in item.recommend.all %}
         <div class="recommendContent">
          <div class="recommendContentItem">
           <div class="recommendPhotographer">
            <div class="name">
             {{ recomm.title }}
            </div>
            <div class="productNum">
             {{ recomm.count }}张作品
            </div>
           </div>
           <div class="recommendPhotos">
            <ul class="piclist">
                {% if recomm.images.all.0 %}
                <li class="piclistItem"><a href="#"><img class="photo0" style="width: 80px; height: 120px; margin-top: -13.3333px;" src="{{ recomm.images.all.0.image }}" /></a></li>
                {% endif %}
                {% if recomm.images.all.1 %}
                <li class="piclistItem"><a href="#"><img class="photo0" style="width: 80px; height: 120px; margin-top: -13.3333px;" src="{{ recomm.images.all.1.image }}" /></a></li>
                {% endif %}
                {% if recomm.images.all.2 %}
                <li class="piclistItem"><a href="#"><img class="photo0" style="width: 80px; height: 120px; margin-top: -13.3333px;" src="{{ recomm.images.all.2.image }}" /></a></li>
                {% endif %}
            </ul>
           </div>
          </div>
          {% endfor %}
         </div>
        </div>
       </div>
      </div>
     </div>
     {% endif %}
    </div>
   </div>
  </div>

  <script src="{% static 'scripts/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'scripts/hammer.min.js' %}"></script>
  <script src="{% static 'scripts/sequence.min.js' %}"></script>
  <script src="{% static 'scripts/sequence-theme.mono.js' %}"></script>

 </body>
</html>
