{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  <title>{{ site.title }}</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <!-- Salvattore -->
    <link rel="stylesheet" href="{% static 'css/salvattore.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/index_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/zerogrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}

{% block navi %}
{% for category in categories %}
  <li dlccccata-animate-effect="fadeInLeft"><a href="/{{ category.slug }}/">{{ category.title }}</a></li>
{% endfor %}
{% endblock %}

{% block body %}
  <section id="container">
    <div class="wrap-container">
      <section class="content-box box-1">
        <div class="zerogrid">
          <div class="wrap-box"><!--Start Box-->
            <div class="row">
              <div id="owl-slide" class="owl-carousel">
                <div class="item">
                  <img src="{% static 'images/slider-1.jpg' %}" />
                </div>
                <div class="item">
                  <img src="{% static 'images/slider-2.jpg' %}" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-----------------content-box-2-------------------->
      <section class="content-box box-2">
        <div class="zerogrid">
          <div class="wrap-box"><!--Start Box-->
            <div class="row">
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/1.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/2.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/3.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/1.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/2.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/3.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/1.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-1-4">
                <div class="wrapper">
                  <div class="portfolio-box">
                    <img src="{% static 'images/2.jpg' %}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Category
                        </div>
                        <div class="project-name">
                          Project Name
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-----------------content-box-3-------------------->
				<section class="content-box boxstyle-1 box-3">
					<div class="zerogrid">
						<div class="row wrap-box"><!--Start Box-->
							<div class="header t-center">
								<div class="wrapper">
									<h2 class="color-yellow">FULL SERVICE CATERING, SERVICE STAFF, RENTALS, FLORAL DESIGN</h2>
									<span>Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat</span>
								</div>
							</div>	
							<div class="row">
								<div class="col-1-4">
									<div class="wrap-col post">
										<div class="item-container">
											<div class="item-caption">
												<div class="item-caption-inner">
													<div class="item-caption-inner1">
														<a class="example-image-link" href="images/portfolio-1.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
															<i class="fa fa-search"></i>
														</a>
													</div>
												</div>
											</div>
											<img src="{% static 'images/1.jpg' %}" alt=""/>
										</div>
										<h3>Banquet</h3>
										<p>His primis omittam ...</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col post">
										<div class="item-container">
											<div class="item-caption">
												<div class="item-caption-inner">
													<div class="item-caption-inner1">
														<a class="example-image-link" href="images/portfolio-2.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
															<i class="fa fa-search"></i>
														</a>
													</div>
												</div>
											</div>
											<img src="{% static 'images/2.jpg' %}" alt=""/>
										</div>
										<h3>Banquet</h3>
										<p>His primis omittam ...</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col post">
										<div class="item-container">
											<div class="item-caption">
												<div class="item-caption-inner">
													<div class="item-caption-inner1">
														<a class="example-image-link" href="images/portfolio-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
															<i class="fa fa-search"></i>
														</a>
													</div>
												</div>
											</div>
											<img src="{% static 'images/3.jpg' %}" alt=""/>
										</div>
										<h3>Banquet</h3>
										<p>His primis omittam ...</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
								<div class="col-1-4">
									<div class="wrap-col post">
										<div class="item-container">
											<div class="item-caption">
												<div class="item-caption-inner">
													<div class="item-caption-inner1">
														<a class="example-image-link" href="images/portfolio-4.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
															<i class="fa fa-search"></i>
														</a>
													</div>
												</div>
											</div>
											<img src="{% static 'images/1.jpg' %}" alt=""/>
										</div>
										<h3>Banquet</h3>
										<p>His primis omittam ...</p>
										<a class="button" href="#">Learn More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
    </div>
  </section> 

  <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <script>
    $(document).ready(function() {
      $("#owl-slide").owlCarousel({
        autoPlay: 3000,
        items : 1,
		itemsDesktop : [1199,1],
		itemsDesktopSmall : [979,1],
		itemsTablet : [768, 1],
        itemsMobile : [479, 1],
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
		pagination: false
      });
    });
    </script>
{% endblock %}



