{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>{{ site.title }}</title>
{% endblock %}

{% block css %}
    {{ block.super }}
    <!-- Salvattore -->
    <link rel="stylesheet" href="{% static 'css/salvattore.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'css/index_css.css' %}">
    <link rel="stylesheet" href="{% static 'css/zerogrid.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
{% endblock %}

{% block navi %}
{% for category in categories %}
  <li dlccccata-animate-effect="fadeInLeft"><a href="/{{ category.slug }}/">{{ category.title }}</a></li>
{% endfor %}
{% endblock %}

{% block body %}
  <section id="container">
    <div class="wrap-container">
      <section class="content-box box-1">
        <div class="zerogrid">
          <div class="wrap-box"><!--Start Box-->
            <div class="row">
              <div id="owl-slide" class="owl-carousel">
                {% for banner in banners %}
                <a href="{{ banner.redirect }}" target="_blank">
                    <div class="item" >
                    <img src="{{ banner.url }}" />
                    </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-----------------content-box-3-------------------->
        {% for recommand in recommand_list %}
        <section class="content-box boxstyle-1 box-3">
            <div class="zerogrid">
                <div class="row wrap-box"><!--Start Box-->
                    <div class="header t-left">
                        <div class="wrapper">
                            <h2 class="color-yellow">{{ recommand.0.title }}</h2>
                            <span>{{ recommand.0.description }}</span>
                        </div>
                    </div>
                    <div class="row">
                        {% for hot in recommand.1 %}
                        <div class="col-1-4">
                            <div class="wrap-col post">
                                <div class="item-container">
                                    <div class="item-caption">
                                        <div class="item-caption-inner">
                                            <div class="item-caption-inner1">
                                                <a class="example-image-link" href="{{ hot.redirect }}" data-lightbox="example-set" data-title="{{ hot.title }}">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="{{ hot.image }}" alt=""/>
                                </div>
                                <h3>{{ hot.title }}</h3>
                                <p>{{ hot.description }}</p>
                                <a class="button" href="{{ hot.redirect }}">查看</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
    </div>
  </section>

  <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.js' %}"></script>
  <script>
    $(document).ready(function() {
      $("#owl-slide").owlCarousel({
        autoPlay: 3000,
        items : 1,
		itemsDesktop : [1199,1],
		itemsDesktopSmall : [979,1],
		itemsTablet : [768, 1],
        itemsMobile : [479, 1],
		navigation: true,
		navigationText: ['<i class="fa fa-chevron-left fa-5x"></i>', '<i class="fa fa-chevron-right fa-5x"></i>'],
		pagination: false
      });
    });
    </script>
{% endblock %}



